<!DOCTYPE html>
<html layout:decorate="~{layout/layout}" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="es">
<head>
    <title th:text="#{page.title}">Modificar Descuento</title>
</head>
<body>
<div class="container mt-4" layout:fragment="content">
    <h1 th:text="#{edit.discount}">Editar Descuento </h1>
    <div class="container">
        <div th:replace="~{fragments/tablaAdminProductosDescuentos :: tablaAdminProductosDescuentos}"></div>
    </div>
</div>
</body>
</html>
