<!DOCTYPE html>
<html layout:decorate="~{layout/layout}" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="es">
<head>

    <title th:text="#{user.list.title}">Lista Usuarios</title>
</head>
<body>

<div class="container" layout:fragment="content">
    <div th:fragment="usuarios">
        <h1 th:text="#{user.list.header}">Lista Usuarios</h1>
        <a class="btn btn-primary" th:href="@{/agregar}" th:text="#{user.list.create}">Crear Usuario</a>

        <div th:if="${usuarios != null and not #lists.isEmpty(usuarios)}">
            <table class="table table-striped mt-3">
                <thead>
                <tr>
                    <th th:text="#{user.list.email}">Email</th>
                    <th th:text="#{user.list.active}">Activo</th>
                    <th th:text="#{user.list.password}">Contraseña</th>
                    <th th:text="#{user.list.phone}">Teléfono</th>
                    <th th:text="#{user.list.roles}">Roles</th>
                    <th th:text="#{user.list.edit}">Editar</th>
                    <th th:text="#{user.list.delete}">Eliminar</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="usuario : ${usuarios}">
                    <td th:text="${usuario.email}">Email</td>
                    <td th:text="${usuario.active} ? 'Activo' : 'Inactivo'">Activo</td>
                    <td th:text="${usuario.password}">Contraseña</td>
                    <td th:text="${usuario.telefono}">Teléfono</td>
                    <td>
                        <ul>
                            <li th:each="rol : ${usuario.roles}" th:text="${rol.rolNombre}">Rol</li>
                        </ul>
                    </td>
                    <td>
                        <a th:href="@{/editar/{id}(id=${usuario.id})}" class="btn btn-warning" th:text="#{user.list.edit}">Editar</a>
                    </td>
                    <td>
                        <a th:href="@{/detalles/{id}(id=${usuario.id})}" class="btn btn-info" th:text="#{user.list.details}">Detalles</a>
                    </td>
                    <td>
                        <form th:action="@{/eliminar/{id}(id=${usuario.id})}" method="post" onsubmit="return confirm('¿Estás seguro de eliminar este usuario?');">
                            <input type="submit" class="btn btn-danger" th:value="#{user.list.delete}"/>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${usuarios == null or #lists.isEmpty(usuarios)}">
            <p th:text="#{user.list.empty}">La lista de usuarios está vacía</p>
        </div>
    </div>
</div>
</body>
</html>
