<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalles Actualizados</title>
</head>
<body>
<h1>Detalles Actualizados</h1>
<div class="container" th:fragment="detalles-actualizados"></div>
<div>
    <img th:src="${detalle.pathImagen}" alt="Imagen de perfil" style="max-width: 200px; max-height: 200px;">
</div>
<div>
    <p>Nombre de Usuario: <span th:text="${detalle.nombreUsuario}"></span></p>
    <p>Nombre: <span th:text="${detalle.nombre}"></span></p>
    <p>Apellido: <span th:text="${detalle.apellido}"></span></p>
    <p>Edad: <span th:text="${detalle.edad}"></span></p>
    <p>Género: <span th:text="${detalle.detallesGenero.descripcion}"></span></p>
</div>
</body>
</html>
