<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Cestas</title>
    <link rel="stylesheet" href="/css/listar-cestas.css">
</head>
<body>
<div class="container" th:fragment="cesta-lista">
<h1>Mis Cestas</h1>
<div>
    <a href="/cestas/crear">Crear Nueva Cesta</a>
</div>
<table>
    <thead>
    <tr>
        <th>Nombre de la Cesta</th>
        <th>Fecha de Creación</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cesta : ${cestas}">
        <td th:text="${cesta.nombre}"></td>
        <td th:text="${cesta.fecha}"></td>
        <td>
            <a th:href="@{/templates/layout/cestas/{id}(id=${cesta.id})}">Ver Detalles</a>
            <form th:action="@{/templates/layout/cestas/{id}/eliminar(id=${cesta.id})}" method="post">
                <button type="submit">Eliminar</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>
