<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Crear Cesta</title>
</head>
<body>
<div th:fragment="crear-cesta">
    <h1>Crear Nueva Cesta</h1>
    <form th:action="@{/cestas/guardar}" method="post" th:object="${cesta}">
        <input type="hidden" name="productoId" th:value="${param.productoId}" />
        <label for="nombre">Nombre de la Cesta:</label>
        <input type="text" id="nombre" th:field="*{nombre}" required/>
        <button type="submit">Crear Cesta</button>


        <!-- Mostrar errores generales -->
        <div th:if="${param.error}" class="alert alert-danger">
            <p th:text="${param.error}"></p>
        </div>

        <!-- Mostrar errores de validación -->
        <div th:if="${#fields.hasErrors('nombre')}" class="alert alert-danger">
            <p th:each="err : ${#fields.errors('nombre')}" th:text="${err}"></p>
        </div>

        <!-- Mostrar mensajes de éxito -->
        <div th:if="${param.success}" class="alert alert-success">
            <p th:text="${param.success}"></p>
        </div>

        <a href="/cestas">Volver a Mis Cestas</a>
    </form>
</div>
</body>
</html>
