<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Modificar Usuario</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4" th:fragment="formularioAdminModificarUsuario">
    <a class="btn btn-secondary" th:href="@{/templates/layout/admin/usuarios}">Regresar</a>
    <br><br>
    <form th:action="@{/templates/layout/admin/usuarios/editar/{id}(id=${usuario.id})}" method="post" th:object="${usuario}">
        <input type="hidden" th:field="*{id}"/>

        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" th:field="*{email}" id="email" class="form-control" required>
            <div th:if="${#fields.hasErrors('email')}" class="text-danger">
                <span th:errors="*{email}">Error de validación</span>
            </div>
        </div>

        <div class="mb-3">
            <label for="active" class="form-label">Activo</label>
            <input type="checkbox" th:field="*{active}" id="active" class="form-check-input">
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" th:field="*{password}" id="password" class="form-control">
            <div th:if="${#fields.hasErrors('password')}" class="text-danger">
                <span th:errors="*{password}">Error de validación</span>
            </div>
        </div>

        <div class="mb-3">
            <label for="telefono" class="form-label">Teléfono</label>
            <input type="tel" th:field="*{telefono}" id="telefono" class="form-control" required>
            <div th:if="${#fields.hasErrors('telefono')}" class="text-danger">
                <span th:errors="*{telefono}">Error de validación</span>
            </div>
        </div>
        <!-- Selección de Roles -->
        <div class="mb-3">
            <label for="roles" class="form-label">Roles</label>
            <select id="roles" class="form-control form-control-multiple" th:field="*{roles}" multiple>
                <option th:each="rol : ${roles}" th:value="${rol.id}" th:text="${rol.rolNombre}">Rol</option>
            </select>
            <div th:if="${#fields.hasErrors('roles')}" class="text-danger">
                <span th:errors="*{roles}">Error de validación</span>
            </div>
        </div>


        <!-- Detalles del usuario -->
        <h4>Detalles del Usuario</h4>

        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" th:field="*{detalle.nombre}" id="nombre" class="form-control" required>
            <div th:if="${#fields.hasErrors('detalle.nombre')}" class="text-danger">
                <span th:errors="*{detalle.nombre}">Error de validación</span>
            </div>
        </div>
        <!-- Campo para Nombre de Usuario -->
        <div class="mb-3">
            <label for="nombreUsuario" class="form-label">Nombre de Usuario</label>
            <input type="text" th:field="*{detalle.nombreUsuario}" id="nombreUsuario" class="form-control" required>
            <div th:if="${#fields.hasErrors('detalle.nombreUsuario')}" class="text-danger">
                <span th:errors="*{detalle.nombreUsuario}">Error de validación</span>
            </div>
        </div>

        <div class="mb-3">
            <label for="apellido" class="form-label">Apellido</label>
            <input type="text" th:field="*{detalle.apellido}" id="apellido" class="form-control" required>
            <div th:if="${#fields.hasErrors('detalle.apellido')}" class="text-danger">
                <span th:errors="*{detalle.apellido}">Error de validación</span>
            </div>
        </div>

        <div class="mb-3">
            <label for="edad" class="form-label">Edad</label>
            <input type="number" th:field="*{detalle.edad}" id="edad" class="form-control" required>
            <div th:if="${#fields.hasErrors('detalle.edad')}" class="text-danger">
                <span th:errors="*{detalle.edad}">Error de validación</span>
            </div>
        </div>

        <div class="mb-3">
            <label for="calle" class="form-label">Calle</label>
            <input type="text" th:field="*{detalle.calle}" id="calle" class="form-control">
            <div th:if="${#fields.hasErrors('detalle.calle')}" class="text-danger">
                <span th:errors="*{detalle.calle}">Error de validación</span>
            </div>
        </div>

        <div class="mb-3">
            <label for="municipio" class="form-label">Municipio</label>
            <input type="text" th:field="*{detalle.municipio}" id="municipio" class="form-control">
            <div th:if="${#fields.hasErrors('detalle.municipio')}" class="text-danger">
                <span th:errors="*{detalle.municipio}">Error de validación</span>
            </div>
        </div>

        <div class="mb-3">
            <label for="pais" class="form-label">País</label>
            <input type="text" th:field="*{detalle.pais}" id="pais" class="form-control">
            <div th:if="${#fields.hasErrors('detalle.pais')}" class="text-danger">
                <span th:errors="*{detalle.pais}">Error de validación</span>
            </div>
        </div>

        <div class="mb-3">
            <label for="codigoPostal" class="form-label">Código Postal</label>
            <input type="text" th:field="*{detalle.codigopostal}" id="codigoPostal" class="form-control">
            <div th:if="${#fields.hasErrors('detalle.codigopostal')}" class="text-danger">
                <span th:errors="*{detalle.codigopostal}">Error de validación</span>
            </div>
        </div>
        <!-- Selección de Género -->
        <div class="mb-3">
            <label for="genero" class="form-label">Género</label>
            <select th:field="*{detalle.genero.id}" class="form-control" required>
                <option value="" disabled selected>Selecciona un género</option>
                <option th:each="genero : ${generos}" th:value="${genero.id}" th:text="${genero.descripcion}">Género</option>
            </select>
            <div th:if="${#fields.hasErrors('detalle.genero')}" class="text-danger">
                <span th:errors="*{detalle.genero}">Error de validación</span>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>
</body>
</html>
