<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Administración de Usuario</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container" th:fragment="usuario-administracion-cuenta">
    <h1>Administración de Usuario</h1>
    <div>
        <h2>Editar Detalles</h2>
        <form th:action="@{/templates/layout/usuario/editar}" th:object="${usuario}" method="post">
            <!-- Campos del formulario para editar detalles -->
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" class="form-control" id="nombre" th:field="*{detalle.nombre}" />
            </div>
            <div class="form-group">
                <label for="apellido">Apellido:</label>
                <input type="text" class="form-control" id="apellido" th:field="*{detalle.apellido}" />
            </div>
            <div class="form-group">
                <label for="genero">Género:</label>
                <select class="form-control" id="genero" th:field="*{detalle.genero.id}">
                    <option th:each="genero : ${generos}" th:value="${genero.id}" th:text="${genero.nombre}"></option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
    <div>
        <h2>Dar de Baja la Cuenta</h2>
        <form th:action="@{/templates/layout/usuario/baja}" method="post">
            <button type="submit" class="btn btn-danger">Dar de Baja</button>
        </form>
    </div>
</div>
</body>
</html>
