<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{page.title}">Productos</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/static/css/styleFruggy.css" rel="stylesheet">
</head>
<body>
<section class="hero hero-normal" th:fragment="heroSection">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 th:text="#{product.list.title}">Lista de Productos</h2>
                <div class="product__list">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6" th:each="product : ${products}">
                            <div class="product__item">
                                <div class="product__item__pic set-bg"
                                     th:style="'background-image: url(' + ${product.pathImagen} + ');'">
                                    <div class="product__item__pic__hover">
                                        <a th:href="@{/details/{id}(id=${product.id})}" class="add-cart"
                                           th:text="#{add.to.cart}">Añadir al carrito</a>
                                        <a th:href="@{/details/{id}(id=${product.id})}" class="view"
                                           th:text="#{view.details}">Ver Detalles</a>
                                    </div>
                                </div>
                                <div class="product__item__text">
                                    <h6 th:text="${product.nombreProducto}">Nombre del Producto</h6>
                                    <h5 th:text="${product.productoPrecios.valor}">Precio</h5>
                                    <h5 th:text="${product.supermercado.nombreSuper}">Supermercado</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
