<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Crear Nueva Lista</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-4" th:fragment="crear-lista">
    <h1>Crear Nueva Lista</h1>
    <form th:action="@{/listas}" method="post" th:object="${lista}">
        <div class="form-group">
            <label for="nombreLista">Nombre de la Lista:</label>
            <input type="text" id="nombreLista" name="nombreLista" class="form-control" th:field="*{nombreLista}" required>
        </div>

        <input type="hidden" id="usuarioId" name="usuarioId" th:value="${usuario.id}" />

        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
    <p th:if="${error}" class="text-danger" th:text="${error}"></p>
</div>
</body>
</html>
