<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Listas</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-4" th:fragment="listar-lista">
    <h1>Listas de Usuarios</h1>
    <a href="/listas/crear-lista" class="btn btn-success mb-3">Crear Nueva Lista</a>
    <ul class="list-group">
        <th:block th:each="lista : ${listas}">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a th:href="@{/listas/{id}(id=${lista.id})}" th:text="${lista.nombreLista}">Nombre de la Lista</a>
                <form th:action="@{/listas/{id}(id=${lista.id})}" method="post" style="display:inline;">
                    <input type="hidden" name="_method" value="delete">
                    <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de que quieres eliminar esta lista?');">Eliminar</button>
                </form>
            </li>
        </th:block>
    </ul>
</div>
</body>
</html>
