<footer>
    <div class="footer-content">
        <h3>Fruggy</h3>
        <p>La forma inteligente de comprar en el supermercado</p>
        <ul class="socials">
            <li><a href="https://www.linkedin.com/in/jes%C3%BAs-clemente-p%C3%A9rez/" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
            <li><a href="https://github.com/Jasusmet/Fruggy" target="_blank"><i class="fa fa-github"></i></a></li>
            <li><a href="https://www.linkedin.com/in/mihai-laurentiu-livadaru/" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>Copyright &copy;2024</p>
    </div>
</footer>