<div class="container my-5" th:fragment="footer">
    <footer class="bg-dark text-center text-white">
        <div class="container p-4 pb-0">
            <section class="mb-4">
                <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/jes%C3%BAs-clemente-p%C3%A9rez/" target="_blank" role="button"
                ><i class="fab fa-linkedin-in"></i
                ></a>
                <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/mihai-laurentiu-livadaru/" target="_blank" role="button"
                ><i class="fab fa-linkedin-in"></i
                ></a>
                <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/Jasusmet" target="_blank" role="button"
                ><i class="fab fa-github"></i
                ></a>
                <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/lauresp96" target="_blank" role="button"
                ><i class="fab fa-github"></i
                ></a>
            </section>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2024 Copyright:
            <a class="text-white" href="https://fruggy.com/">Fruggy</a>
        </div>
    </footer>
</div>