<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Modificar Usuario</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4" th:fragment="formularioAdminModificarUsuario">
    <a class="btn btn-secondary" th:href="@{/admin/usuarios}">Regresar</a>
    <br><br>
    <form th:action="@{/admin/usuarios/editar/{id}(id=${usuario.id})}" method="post" th:object="${usuario}">
        <input type="hidden" th:field="*{id}"/>

        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" th:field="*{email}" id="email" class="form-control" required>
            <div th:if="${#fields.hasErrors('email')}" class="text-danger">
                <span th:errors="*{email}">Error de validación</span>
            </div>
        </div>

        <div class="mb-3">
            <label for="active" class="form-label">Activo</label>
            <input type="checkbox" th:field="*{active}" id="active" class="form-check-input">
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" th:field="*{password}" id="password" class="form-control">
            <div th:if="${#fields.hasErrors('password')}" class="text-danger">
                <span th:errors="*{password}">Error de validación</span>
            </div>
        </div>

        <div class="mb-3">
            <label for="telefono" class="form-label">Teléfono</label>
            <input type="tel" th:field="*{telefono}" id="telefono" class="form-control" required>
            <div th:if="${#fields.hasErrors('telefono')}" class="text-danger">
                <span th:errors="*{telefono}">Error de validación</span>
            </div>
        </div>

        <!-- Selección de Roles -->
        <div class="mb-3">
            <label for="roles" class="form-label">Roles</label>
            <select id="roles" class="form-control form-control-multiple" th:field="*{roles}" multiple>
                <option th:each="rol : ${roles}" th:value="${rol.id}" th:text="${rol.rolNombre}">Rol</option>
            </select>
            <div th:if="${#fields.hasErrors('roles')}" class="text-danger">
                <span th:errors="*{roles}">Error de validación</span>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>
</body>
</html>
