<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<body>
<header  class="header" th:fragment="header">
    <div class="container">
        <div class="header__logo">
            <a href="/"><img src="img/logo.png" alt="Fruggy"></a>
        </div>
        <ul class="header__menu">
            <li><a href="/productos" th:text="#{products}">Productos</a></li>
            <li><a href="/supermercados" th:text="#{supermarket}">Supermercados</a>
                <ul class="header__menu__dropdown">
                    <li><a href="#" th:text="#{supermarket.carrefour}">Carrefour</a></li>
                    <li><a href="#" th:text="#{supermarket.dia}">Día</a></li>
                    <li><a href="#" th:text="#{supermarket.hipercor}">Hipercor</a></li>
                    <li><a href="#" th:text="#{supermarket.lidl}">Lidl</a></li>
                    <li><a href="#" th:text="#{supermarket.mercadona}">Mercadona</a></li>
                    <li><a href="#" th:text="#{supermarket.supeco}">Supeco</a></li>
                </ul>
            <li><a href="/contacto" th:rext="#{contact}">Contacto</a></li>
        </ul>
        <form class="busqueda" role="buscar">
            <input type="buscar" placeholder="Buscar">
        </form>
        <div class="header__top__right__language">
            <img src="/img/language.png" alt="">
            <div th:text="#{language}">Español</div>
            <span class="arrow_carrot-down"></span>
            <ul>
                <li><a href="?lang=es" th:text="#{spanish}">Español</a></li>
                <li><a href="?lang=en" th:text="#{english}">English</a></li>
            </ul>
        </div>
        <div class="login">
            <a href="/login">
            <button type="button">Iniciar sesión</button>
            </a>
        </div>
        <div class="admin">
            <a href="#">
            <button type="button">Admin</button>
            </a>
        </div>
        <div class="moderador">
            <a href="#">
            <button type="button">Moderador</button>
            </a>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
</body>
</html>
