<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{page.title}">Productos</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/ /4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<!-- Humberger Begin -->
<div class="humberger__menu__overlay" th:fragment="humbergerMenu"></div>
<div class="humberger__menu__wrapper">
    <div class="humberger__menu__logo">
        <!-- Logo del proyecto -->
        <a href="/"><img src="/img/logo.png" alt=""></a>
    </div>
    <div class="humberger__menu__cart">
        <ul>
            <li><a href="/favoritos"><i class="fa fa-heart"></i> <span>1</span></a></li>
            <li><a href="/cesta"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
        </ul>
        <div class="header__cart__price" th:text="#{cart.items}">artículo: <span>150.00€</span></div>
    </div>
    <div class="humberger__menu__widget">
        <div class="header__top__right__language">
            <img src="../img/Spanish.PNG" alt="">
            <div th:text="#{language}">Español</div>
            <span class="arrow_carrot-down"></span>
            <ul>
                <li><a href="?lang=es" th:text="#{spanish}">Español</a></li>
                <li><a href="?lang=en" th:text="#{english}">English</a></li>
            </ul>
        </div>
        <div class="header__top__right__auth">
            <a href="/login"><i class="fa fa-user"></i> <span th:text="#{login.submit}">Iniciar sesión</span></a>
        </div>
    </div>
    <nav class="humberger__menu__nav mobile-menu">
        <ul>
            <li><a href="/productos" th:text="#{products}">Productos</a></li>
            <li><a href="/supermercados" th:text="#{supermarket}">Supermercados</a>
                <ul class="header__menu__dropdown">
                    <li><a href="#" th:text="#{supermarket.carrefour}">Carrefour</a></li>
                    <li><a href="#" th:text="#{supermarket.mercadona}">Mercadona</a></li>
                    <li><a href="#" th:text="#{supermarket.dia}">Día</a></li>
                    <li><a href="#" th:text="#{supermarket.lidl}">Lidl</a></li>
                    <li><a href="#" th:text="#{supermarket.supeco}">Supeco</a></li>
                    <li><a href="#" th:text="#{supermarket.hipercor}">Hipercor</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="mobile-menu-wrap"></div>
    <div class="header__top__right__social">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-pinterest-p"></i></a>
    </div>
    <div class="humberger__menu__contact">
        <ul>
            <!-- Añadir vínculo al correo -->
            <li><i class="fa fa-envelope"></i> <span th:text="#{contact.email}">fruggy@gmail.com</span></li>
        </ul>
    </div>
</div>
<!-- Humberger End -->
</body>
</html>
