<!DOCTYPE html>
<html lang="es">
<head>
    <title>Lista de Usuarios</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<div th:fragment="tablaAdminUsuarios">
    <table class="table table-striped mt-3">
        <thead>
        <tr>
            <th th:text="#{user.list.email}">Email</th>
            <th th:text="#{user.list.active}">Activo</th>
            <th th:text="#{user.list.password}">Contraseña</th>
            <th th:text="#{user.list.phone}">Teléfono</th>
            <th th:text="#{user.list.roles}">Roles</th>
            <th th:text="#{user.list.edit}">Editar</th>
            <th th:text="#{user.list.delete}">Eliminar</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="usuario : ${usuarios}">
            <td th:text="${usuario.email}">Email</td>
            <td th:text="${usuario.active} ? 'Activo' : 'Inactivo'">Activo</td>
            <td th:text="${usuario.password}">Contraseña</td>
            <td th:text="${usuario.telefono}">Teléfono</td>
            <td>
                <ul>
                    <li th:each="rol : ${usuario.roles}" th:text="${rol.rolNombre}">Rol</li>
                </ul>
            </td>
            <td>
                <a th:href="@{/admin/usuarios/editar/{id}(id=${usuario.id})}" class="btn btn-warning" th:text="#{user.list.edit}">Editar</a>
            </td>
            <td>
                <a th:href="@{/admin/usuarios/detalles/{id}(id=${usuario.id})}" class="btn btn-info" th:text="#{user.list.details}">Detalles</a>
            </td>
            <td>
                <form th:action="@{/admin/usuarios/eliminar/{id}(id=${usuario.id})}" method="post" onsubmit="return confirm('¿Estás seguro de eliminar este usuario?');">
                    <input type="submit" class="btn btn-danger" th:value="#{user.list.delete}"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:if="${usuarios == null or #lists.isEmpty(usuarios)}">
    <p th:text="#{user.list.empty}">La lista de usuarios está vacía</p>
</div>
</body>
</html>
