<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Productos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<section class="product spad" th:fragment="catalogoProductos">
    <div class="container">
        <div class="row">
            <div class="filter__item">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="filter__found">
                            <h6><span th:text="${listaProducto.size()}">100</span> Productos </h6>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-3">
                        <div class="pull-right">
                            <div class="btn-group">
                                <button class="btn btn-info" id="list" onclick="switchView('list')">
                                    Vista Lista
                                </button>
                                <button class="btn btn-danger" id="grid" onclick="switchView('grid')">
                                    Vista Cuadrícula
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="products" class="view-group">
                    <div class="row">
                        <div class="item col-xs-4 col-lg-4" th:each="producto : ${listaProducto}">
                            <div class="thumbnail card">
                                <div class="img-event">
                                    <!-- Manejo condicional de la imagen -->
                                    <img class="group list-group-image img-fluid"
                                         th:if="${producto.imagen != null}"
                                         th:src="@{${producto.imagen.pathImagen}}"
                                         alt="Imagen del Producto"
                                         th:alt="${producto.nombreProducto}"/>
                                    <img class="group list-group-image img-fluid"
                                         th:if="${producto.imagen == null}"
                                         src="/static/img/product/product-1.jpg"
                                         alt="Imagen del Producto"
                                         th:alt="${producto.nombreProducto}"/>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${producto.nombreProducto}">Nombre del Producto</h5>
                                    <p class="card-text">
                                        <span th:text="${producto.productoPrecios.precio}">Precio</span><br>
                                        <span th:text="${producto.supermercado.nombreSuper}">Supermercado</span><br>
                                    </p>
                                    <a th:href="@{/details/{id}(id=${producto.id})}" class="btn btn-primary">Añadir al
                                        carrito</a>
                                    <a th:href="@{/details/{id}(id=${producto.id})}" class="btn btn-secondary">Ver
                                        Detalles</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</section>
</body>
</html>
