<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Productos</title>
</head>
<body>
<section class="product spad" th:fragment="catalogoProductos">
    <div class="container">
        <div class="row">
            <div class="filter__item">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="filter__found">
                            <h6><span th:text="${listaProducto.size()}">100</span> Productos</h6>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-3">
                        <div class="pull-right">
                            <div class="btn-group">
                                <button class="btn btn-info" id="list" onclick="switchView('list')">Vista Lista</button>
                                <button class="btn btn-danger" id="grid" onclick="switchView('grid')">Vista Cuadrícula
                                </button>
                                <!-- Botón para desplegar categorías -->
                                <div class="btn-group">
                                    <button class="btn btn-secondary" id="categoryButton" onclick="toggleCategories()">
                                        Categorías
                                    </button>
                                    <div id="categoryMenu" class="dropdown-menu" style="display: none;">
                                        <div th:each="categoria : ${categorias}">
                                            <a class="dropdown-item"
                                               th:href="@{/productos/categoria/{id}(id=${categoria.id})}"
                                               th:text="${categoria.tipo}"></a>
                                        </div>
                                        <p th:if="${categorias.size() == 0}">No hay categorías disponibles.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="products" class="view-group">
                    <div class="row">
                        <div class="item col-xs-4 col-lg-4" th:each="producto : ${listaProducto}">
                            <div class="thumbnail card">
                                <div class="img-event">
                                    <img class="group list-group-image img-fluid"
                                         th:if="${producto.pathImagen != null}"
                                         th:src="@{/imagenes/leerImagen/{nombreImagen}(nombreImagen=${producto.pathImagen})}"
                                         alt="Imagen del Producto"
                                         th:alt="${producto.nombreProducto}"/>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${producto.nombreProducto}">Nombre del Producto</h5>
                                    <p class="card-text">
                                        <strong>Descripción:</strong> <span
                                            th:text="${producto.descripcion}"></span><br/>
                                        <strong>Marca:</strong> <span th:text="${producto.marca}">Marca</span><br/>
                                        <strong>Precio:</strong>
                                        <span th:if="${producto.descuentos.size() > 0}">
                                            <span th:each="descuento : ${producto.descuentos}">
                                                <span th:if="${descuento.activo}">
                                                    <span th:text="${#numbers.formatDecimal(producto.precios[0].valor, 1, 2)} + ' €'"></span><br/>
                                                    <span th:text="${#numbers.formatDecimal(producto.precios[0].valor * (1 - (descuento.porcentaje / 100)), 1, 2)} + ' € (' + descuento.porcentaje + '% descuento)'"></span>
                                                </span>
                                            </span>
                                        </span>
                                        <span th:if="${producto.descuentos.size() == 0}"
                                              th:text="${#numbers.formatDecimal(producto.precios[0].valor, 1, 2)} + ' €'">Precio</span>
                                        <br>
                                        <strong>Supermercado:</strong>
                                        <span th:if="${producto.precios.size() > 0 && producto.precios[0].supermercado != null}"
                                              th:text="${producto.precios[0].supermercado.nombreSuper}">Supermercado</span>
                                        <span th:if="${producto.precios.size() == 0 || producto.precios[0].supermercado == null}">Sin supermercado asignado</span>
                                        <br>
                                        <strong>Nota Media:</strong>
                                        <span th:if="${producto.notaMedia != null}"
                                              th:text="${#numbers.formatDecimal(producto.notaMedia, 1, 2)}"></span>
                                        <span th:if="${producto.notaMedia == null}">N/A</span>

                                        <!-- Botones para agregar a cesta, favoritos y ver detalles -->
                                        <button class="btn btn-warning" data-bs-toggle="modal"
                                                data-bs-target="#agregarCestaModal"
                                                th:data-producto-id="${producto.id}"
                                                onclick="abrirModal(${producto.id})">
                                            <i class="fas fa-shopping-basket"></i> Agregar a Cesta
                                        </button>

                                    <a th:href="@{/productos/detalles/{id}(id=${producto.id})}"
                                       class="btn btn-secondary">Ver Detalles</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Modal para seleccionar cesta -->
<div class="modal fade" id="agregarCestaModal" tabindex="-1" aria-labelledby="agregarCestaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="agregarCestaModalLabel">Selecciona Cesta</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formAgregarCesta" th:action="@{/cestas/{cestaId}/agregarProducto(cestaId=${cestaId})}" method="post">
                    <input type="hidden" id="productoId" name="productoId" value="">
                    <div class="mb-3">
                        <label for="cestaId" class="form-label">Selecciona una Cesta:</label>
                        <select class="form-select" id="cestaId" name="cestaId" required>
                            <option th:each="cesta : ${cestas}" th:value="${cesta.id}" th:text="${cesta.nombre}"></option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Agregar a Cesta</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <a th:href="@{/cestas/crear}" class="btn btn-success">Crear Nueva Cesta</a>
            </div>
        </div>
    </div>
</div>
<!-- Script para mostrar modal después de crear una cesta -->


<script th:if="${mostrarModal}" th:inline="javascript">
    document.addEventListener("DOMContentLoaded", function () {
        var modal = new bootstrap.Modal(document.getElementById('agregarCestaModal'));
        document.getElementById('cestaId').value = [[${cestaId}]];
        modal.show();
    });
</script>
<script>
    // Definir la función abrirModal
    function abrirModal(productoId) {
        document.getElementById('productoId').value = productoId;
    }
    function mostrarNotificacion(mensaje) {
        alert(mensaje);
    }
</script>
</body>
</html>
