<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title th:text="${producto.id == null ? 'Agregar Producto' : 'Editar Producto'}"></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">aa
</head>
<body>
<div class="container mt-4" th:fragment="formularioAdminCrearProducto">
    <h1 th:text="${producto.id == null ? 'Agregar Producto' : 'Editar Producto'}"></h1>
    <a class="btn btn-primary mb-3" th:href="@{/admin/productos}">Volver a la lista</a>

    <form th:action="@{/admin/productos/guardar}" th:object="${producto}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="id" th:value="${producto.id}"/>

        <div class="mb-3">
            <label for="nombreProducto" class="form-label">Nombre del Producto</label>
            <input type="text" class="form-control" id="nombreProducto" th:field="*{nombreProducto}" required>
        </div>

        <div class="mb-3">
            <label for="marca" class="form-label">Marca</label>
            <input type="text" class="form-control" id="marca" th:field="*{marca}" required>
        </div>

        <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción</label>
            <textarea class="form-control" id="descripcion" th:field="*{descripcion}" required></textarea>
        </div>

        <div class="mb-3">
            <label for="activo" class="form-check-label">Activo</label>
            <input type="checkbox" class="form-check-input" id="activo" th:field="*{activo}">
        </div>

        <div class="mb-3">
            <label for="precio" class="form-label">Precio</label>
            <input type="number" class="form-control" id="precio" name="precio" step="0.01" required placeholder="0.00">
        </div>

        <div class="mb-3">
            <label for="imagen" class="form-label">Imagen</label>
            <input type="file" name="imagen" required>
        </div>

        <div class="mb-3">
            <label for="categoria" class="form-label">Categoría</label>
            <select class="form-control" id="categoria" name="categoria.id" required>
                <option value="">Selecciona una categoría</option>
                <option th:each="categoria : ${categorias}" th:value="${categoria.id}" th:text="${categoria.tipo}"></option>
            </select>
        </div>

        <div class="mb-3">
            <label for="subcategoria" class="form-label">Subcategoría</label>
            <select class="form-control" id="subcategoria" name="subcategoria.id" required>
                <option value="">Selecciona una subcategoría</option>
                <option th:each="subcategoria : ${subcategorias}" th:value="${subcategoria.id}" th:text="${subcategoria.tipo}"></option>
            </select>
        </div>

        <div class="mb-3">
            <label for="supermercado" class="form-label">Supermercado</label>
            <select class="form-control" id="supermercado" name="supermercado.id" required>
                <option value="">Selecciona un supermercado</option>
                <option th:each="supermercado : ${supermercados}"
                        th:value="${supermercado.id}"
                        th:text="${supermercado.nombreSuper + ' (' + supermercado.municipio + ')'}"></option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>
</body>
</html>
