<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Productos</title>
</head>
<body>
<section class="product spad" th:fragment="productos">
    <div class="container">
        <div class="row">
            <div class="filter__item">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="filter__found">
                            <h6><span th:text="${pagina.numberOfElements}"></span> Productos en esta página</h6>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-3">
                        <div class="pull-right">
                            <div class="btn-group">
                                <!-- Botón para desplegar categorías -->
                                <div id="categoryMenu" class="dropdown-menu" style="display: none;">
                                    <div th:each="categoria : ${categorias}">
                                        <a class="dropdown-item"
                                           th:href="@{/productos/categoria/{id}(id=${categoria.id})}"
                                           th:text="${categoria.getTipo('${idioma}')}"></a>
                                    </div>
                                    <p th:if="${categorias.size() == 0}">No hay categorías disponibles.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Productos -->
            <div class="col-lg-4 col-md-3">
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                                aria-expanded="false">
                            Ordenar por
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item"
                                   th:href="@{/productos(page=${currentPage}, size=${pagina.size}, sort='precioAsc')}">Precio
                                Menor</a></li>
                            <li><a class="dropdown-item"
                                   th:href="@{/productos(page=${currentPage}, size=${pagina.size}, sort='precioDesc')}">Precio
                                Mayor</a></li>
                            <li><a class="dropdown-item"
                                   th:href="@{/productos(page=${currentPage}, size=${pagina.size}, sort='novedades')}">Novedades</a>
                            </li>
                            <li><a class="dropdown-item"
                                   th:href="@{/productos(page=${currentPage}, size=${pagina.size}, sort='mejorPuntuacion')}">Mejor
                                Puntuación</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="products" class="view-group">
                <div class="row">
                    <div class="item col-xs-4 col-lg-4" th:each="producto : ${pagina.content}">
                        <div class="thumbnail card">
                            <div class="img-event">
                                <h5 th:text="${producto.nombreProducto}">Nombre del Producto</h5>
                                <ul>
                                    <li th:each="imagen : ${producto.imagenes}">
                                        <img th:src="@{'/imagenes/' + ${imagen.rutaImagen}}" alt="Imagen del Producto"
                                             class="img-thumbnail" style="max-width: 200px; max-height: 150px;"/>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    <strong>Descripción:</strong> <span
                                        th:text="${producto.descripcion}"></span><br/>
                                    <strong>Marca:</strong> <span th:text="${producto.marca}">Marca</span><br/>
                                    <strong>Precio:</strong>
                                    <span th:if="${producto.descuentos.size() > 0}">
                                            <span th:each="descuento : ${producto.descuentos}">
                                                <span th:if="${descuento.activo}">
                                                    <span th:text="${#numbers.formatDecimal(producto.precios[0].valor, 1, 2)} + ' €'"></span><br/>
                                                    <span th:text="${#numbers.formatDecimal(producto.precios[0].valor * (1 - (descuento.porcentaje / 100)), 1, 2)} + ' € (' + descuento.porcentaje + '% descuento)'"></span>
                                                </span>
                                            </span>
                                        </span>
                                    <span th:if="${producto.descuentos.size() == 0}"
                                          th:text="${#numbers.formatDecimal(producto.precios[0].valor, 1, 2)} + ' €'">Precio</span>
                                    <br>
                                    <strong>Supermercado:</strong>
                                    <span th:if="${producto.precios.size() > 0 && producto.precios[0].supermercado != null}"
                                          th:text="${producto.precios[0].supermercado.nombreSuper}">Supermercado</span>
                                    <span th:if="${producto.precios.size() == 0 || producto.precios[0].supermercado == null}">Sin supermercado asignado</span>
                                    <br>
                                    <strong>Nota Media:</strong>
                                    <span th:if="${producto.notaMedia != null}"
                                          th:text="${#numbers.formatDecimal(producto.notaMedia, 1, 2)}"></span>
                                    <span th:if="${producto.notaMedia == null}">N/A</span>
                                </p>

                                <!-- Botón para ver detalles -->
                                <a th:href="@{/productos/detalles/{id}(id=${producto.id})}"
                                   class="btn btn-secondary">Ver Detalles</a>
                                <!-- Botón para agregar a la cesta que abre el modal -->
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        th:data-bs-target="'#selectBasketModal' + ${producto.id}">
                                    Agregar a Cesta
                                </button>
                                <div class="modal fade"
                                     th:id="'selectBasketModal' + ${producto.id}"
                                     tabindex="-1"
                                     aria-labelledby="'selectBasketLabel' + ${producto.id}"
                                     aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="selectBasketLabel">Seleccionar Cesta</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Cerrar"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form th:action="@{/cestas/agregarProducto}" method="post">
                                                    <input type="hidden" name="productoId" th:value="${producto.id}"/>
                                                    <input type="hidden" name="cantidad" value="1"/>

                                                    <!-- Lista de cestas disponibles -->
                                                    <div th:if="${cestas.size() > 0}">
                                                        <label for="cestaId">Selecciona una cesta:</label>
                                                        <select id="cestaId" name="cestaId" class="form-select">
                                                            <option th:each="cesta : ${cestas}" th:value="${cesta.id}"
                                                                    th:text="${cesta.nombre}"></option>
                                                        </select>
                                                    </div>

                                                    <!-- Si no hay cestas, mostrar mensaje y opción para crear una nueva -->
                                                    <div th:if="${cestas.size() == 0}">
                                                        <p>No tienes ninguna cesta. Puedes crear una nueva.</p>
                                                        <!-- Crear nueva cesta -->
                                                        <div class="mt-3">
                                                            <label for="nuevaCesta">Crear nueva cesta:</label>
                                                            <input type="text" id="nuevaCesta" name="nuevaCesta"
                                                                   class="form-control"
                                                                   placeholder="Nombre de la nueva cesta"/>
                                                        </div>
                                                    </div>

                                                    <!-- Botón para enviar el formulario -->
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">Cancelar
                                                        </button>
                                                        <button type="submit" class="btn btn-primary">Guardar</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Paginación -->
                <div class="d-flex justify-content-center mt-4">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li class="page-item" th:if="${pagina.hasPrevious()}">
                                <a class="page-link"
                                   th:href="@{/productos(page=${pagina.number - 1}, size=${pagina.size})}"
                                   aria-label="Anterior">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item" th:each="i : ${#numbers.sequence(0, pagina.totalPages - 1)}">
                                <a class="page-link" th:href="@{/productos(page=${i}, size=${pagina.size})}"
                                   th:text="${i + 1}" th:classappend="${i == pagina.number} ? 'active'"></a>
                            </li>
                            <li class="page-item" th:if="${pagina.hasNext()}">
                                <a class="page-link"
                                   th:href="@{/productos(page=${pagina.number + 1}, size=${pagina.size})}"
                                   aria-label="Siguiente">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
</section>
</body>
</html>
