.navbar {
    background: linear-gradient(to right, #009657, #00ff95);
    padding: 0;
}

.navbar .nav-item:hover {
    background: #aeffde;
}

.navbar .nav-item:hover .nav-link {
    color: #00c06c !important;
}

.navbar .dropdown-item:hover {
    background: #00c06c;
}
