/*---------------------
  Hero
-----------------------*/
/* MENU arriba donde sale TODAS CATEGORIAS,etc */
.hero {
    padding-bottom: 50px;
}

.hero.hero-normal {
    padding-bottom: 30px;
}

.hero.hero-normal .hero__categories {
    position: relative;
}

.hero.hero-normal .hero__categories ul {
    display: none; /* Mantener oculta por defecto */
    position: absolute;
    left: 0;
    top: 46px;
    width: 100%;
    z-index: 9;
    background: #ffffff;
    border: 1px solid #ebebeb;
    padding: 10px;
}

.hero.hero-normal .hero__search {
    margin-bottom: 0;
}

/* PRODUCTOS LISTA HEADER */
.hero__categories__all {
    background: steelblue;
    position: relative;
    padding: 10px 25px 10px 40px;
    cursor: pointer;
}

.hero__categories__all:hover {
    background-color: #323F5B;
}

.hero__categories__all i {
    font-size: 16px; /* Sin espacio entre el número y la unidad */
    color: #ffffff;
    margin-right: 10px;
}

.hero__categories__all span {
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
}

.hero__categories ul {
    border: 1px solid #ebebeb;
    padding-left: 0; /* Espaciado ajustado */
    padding-top: 10px;
    padding-bottom: 12px;
}

.hero__categories ul li {
    list-style: none; /* Sin viñetas */
}

.hero__categories ul li a {
    font-size: 16px;
    color: #1c1c1c;
    line-height: 39px;
    display: block;
}

.hero__categories ul li a:hover {
    color: steelblue; /* Cambia el color al pasar el mouse */
    text-decoration: underline; /* Subrayado */
}

/* BUSCAR */
.hero__search {
    overflow: hidden;
    margin-bottom: 30px;
}

.hero__search__form {
    width: 610px;
    height: 50px;
    border: 1px solid #ebebeb;
    position: relative;
    float: left;
}

.hero__search__form form .hero__search__categories {
    width: 30%;
    float: left;
    font-size: 16px;
    color: #1c1c1c;
    font-weight: 700;
    padding-left: 18px;
    padding-top: 11px;
    position: relative;
}

.hero__search__form form .hero__search__categories:after {
    position: absolute;
    right: 0;
    top: 14px;
    height: 20px;
    width: 1px;
    background: #000000;
    opacity: 0.1;
    content: "";
}

.hero__search__form form .hero__search__categories span {
    position: absolute;
    right: 14px;
    top: 14px;
}

.hero__search__form form input {
    width: 70%;
    border: none;
    height: 48px;
    font-size: 16px;
    color: #b2b2b2;
    padding-left: 20px;
}

.hero__search__form form input::placeholder {
    color: #b2b2b2;
}

.hero__search__form form button {
    position: absolute;
    right: 0;
    top: -1px;
    height: 50px;
}

/* Otras clases de estilo... */
