@import "preloader.css";
@import "sidebar.css";
@import "categories.css";
@import "hero.css";
@import "featured.css";
@import "nice-select.css";
@import "elegant-icons.css";
@import "mediaQueries.css";
@import "login.css";
@import "bootstrap.min.css";

.form-control-dark {
    border-color: var(--bs-gray);
}

.form-control-dark:focus {
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
    font-size: 85%;
}

.dropdown-toggle:not(:focus) {
    outline: 0;
}