@import "preloader.css";
@import "header.css";
@import "hero.css";
@import "footer.css";
@import "featured.css";
@import "mediaQueries.css";
@import "nice-select.css";
@import "elegant-icons.css";

html, body {
    height: 100%;
    font-family: "Cairo", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    overflow-x: hidden; /* Previene el desplazamiento horizontal en toda la página */

}

h1, h6 {
    margin: 0;
    color: #111111;
    font-weight: 400;
}

h1 {
    font-size: 70px;
}

h6 {
    font-size: 16px;
}

p {
    font-size: 16px;
    font-family: "Cairo", sans-serif;
    color: #6f6f6f;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 15px 0;
}

img {
    max-width: 100%;
}

input:focus, select:focus, button:focus, textarea:focus {
    outline: none;
}

a:hover, a:focus {
    text-decoration: none;
    outline: none;
    color: lightgreen;
}

/*---------------------
  General Styles
-----------------------*/
body {
    font-family: 'Cairo', sans-serif;
    line-height: 1.6;
    background-color: #f8f9fa;
}

.container {
    max-width: 1200px; /* Ajusta el ancho máximo del contenedor */
    margin: 0 auto;
    padding: 0 15px; /* Espaciado a los lados para evitar el desbordamiento */
}

.section-title h2 {
    font-size: 2rem;
    color: #00FF00;
    font-weight: 700;
}

/*---------------------
  Product Section
-----------------------*/
.product {
    padding: 30px 0;
    overflow-x: hidden; /* Previene el scroll horizontal */
}

.filter__item {
    margin-bottom: 30px;
}

.filter__found h6 {
    font-size: 18px;
    color: #333;
    font-weight: 500;
}

.btn-group {
    margin-top: 10px;
}

/*---------------------
  Botón "Ordenar por"
-----------------------*/
.btn-primary {
    background-color: #00FF00; /* Color de fondo verde */
    border-color: #00FF00; /* Borde verde */
    color: #ffffff; /* Texto blanco */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor a una mano al pasar sobre el botón */
    transition: background-color 0.3s, border-color 0.3s; /* Transición suave */
    display: flex;
    align-items: center; /* Alinea los elementos en el centro */
    justify-content: center; /* Centra el texto y el ícono */
}

.btn-primary:hover {
    background-color: #00cc00; /* Fondo verde más oscuro al pasar el ratón */
    border-color: #00cc00; /* Borde verde más oscuro */
}

/*---------------------
  Dropdown Toggle (botón de desplegable)
-----------------------*/
.dropdown-toggle::after {
    display: none; /* Oculta el ícono de flecha por defecto */
}

/*---------------------
  Menú desplegable
-----------------------*/
.dropdown-menu {
    border: 1px solid #ddd; /* Borde gris claro para el menú desplegable */
    border-radius: 5px; /* Bordes redondeados */
    background-color: #ffffff; /* Fondo blanco */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    display: none; /* Oculto por defecto */
}

.dropdown-item {
    padding: 10px 15px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
    color: #333; /* Color del texto */
    transition: background-color 0.3s; /* Transición suave */
}

.dropdown-item:hover {
    background-color: #f5f5f5; /* Fondo gris claro al pasar el ratón */
}

/* Mostrar el menú desplegable al hacer clic */
.show {
    display: block !important; /* Asegura que el menú se muestre cuando esté activo */
}

.item {
    margin-bottom: 30px;
}

.thumbnail {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.img-event {
    text-align: center;
    padding: 15px;
    background: #fff;
}

.img-thumbnail {
    max-width: 100%; /* Ajusta el tamaño máximo al 100% del contenedor */
    height: auto;
    max-height: 200px; /* Ajusta la altura máxima de la imagen */
    margin-left: 0; /* Asegúrate de que no haya margen izquierdo */
    object-fit: contain; /* Ajusta el contenido de la imagen para que se ajuste */
}

.card-body {
    padding: 15px;
}

.card-text {
    font-size: 14px;
    color: #555;
}

.card-text strong {
    color: #333;
}

.btn {
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
}

.btn-primary {
    background-color: #00FF00;
    border-color: #00FF00;
    color: #fff;
}

.btn-primary:hover {
    background-color: #00cc00;
    border-color: #00cc00;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    color: #fff;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

.modal-content {
    border-radius: 5px;
}

.modal-body {
    padding: 15px;
}

.modal-footer {
    border-top: 1px solid #ddd;
}

.pagination {
    margin-top: 20px;
}

.page-link {
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    color: #007bff;
}

.page-link:hover {
    background-color: #e9ecef;
}

.page-item.active .page-link {
    background-color: #00FF00;
    border-color: #00FF00;
    color: #fff;
}

/* Hide dropdown on small screens */
@media (max-width: 768px) {
    #categoryMenu {
        display: block;
    }
}


/*---------------------
  Form Blog
-----------------------*/
.from-blog {
    padding-top: 50px;
    padding-bottom: 50px;
}

.from-blog .blog__item {
    margin-bottom: 30px;
}

.from-blog__title {
    margin-bottom: 70px;
}

/*---------------------
  Breadcrumb
-----------------------*/
.breadcrumb-section {
    display: flex;
    align-items: center;
    padding: 45px 0 40px;
}

.breadcrumb__text h2 {
    font-size: 46px;
    color: #ffffff;
    font-weight: 700;
}

.breadcrumb__option a {
    display: inline-block;
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    margin-right: 20px;
    position: relative;
}

.breadcrumb__option a:after {
    position: absolute;
    right: -12px;
    top: 13px;
    height: 1px;
    width: 10px;
    background: #ffffff;
    content: "";
}

.breadcrumb__option span {
    display: inline-block;
    font-size: 16px;
    color: #ffffff;
}

/*---------------------
  Price Range
-----------------------*/
.price-range-wrap .range-slider {
    margin-top: 20px;
}

.price-range-wrap .range-slider .price-input {
    position: relative;
}

.price-range-wrap .range-slider .price-input:after {
    position: absolute;
    left: 38px;
    top: 13px;
    height: 1px;
    width: 5px;
    background: #dd2222;
    content: "";
}

.price-range-wrap .range-slider .price-input input {
    font-size: 16px;
    color: #dd2222;
    font-weight: 700;
    max-width: 20%;
    border: none;
    display: inline-block;
}

.price-range-wrap .price-range {
    border-radius: 0;
}

.price-range-wrap .price-range.ui-widget-content {
    border: none;
    background: #ebebeb;
    height: 5px;
}

.price-range-wrap .price-range.ui-widget-content .ui-slider-handle {
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background: #ffffff;
    border: none;
    -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    outline: none;
    cursor: pointer;
}

.price-range-wrap .price-range .ui-slider-range {
    background: #dd2222;
    border-radius: 0;
}

/*---------------------
  Dropdown Menu
-----------------------*/
#categoryMenu {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1000;
}

.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1000;
}

/*---------------------
  User Creation Form
-----------------------*/
.user__creation__form {
    background-color: #f8f9fa;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.form-control, .form-select {
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s;
    padding: 12px;
    font-size: 1rem;
}

.form-control:focus, .form-select:focus {
    border-color: #00FF00;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 255, 0, 0.25);
}

.btn-primary {
    background-color: #00FF00;
    border-color: #00FF00;
    color: #fff;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 1rem;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-primary:hover {
    background-color: #00cc00;
    border-color: #00cc00;
}

/*---------------------
  Alerts
-----------------------*/
.alert {
    padding: 15px;
    border-radius: 8px;
    margin-top: 15px;
}

.alert-danger {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}

.alert-danger p {
    margin: 0;
}

.form-inline {
    justify-content: flex-end;
    padding-bottom: 1rem;
}

.form-inline .form-control {
    width: 150px; /* Reduce el ancho del select */
    border-radius: 0.25rem;
    border-color: #ced4da;
    box-shadow: none;
}

.form-inline .form-control:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
}

/* Opcional: Ajustes adicionales para el margen si es necesario */
.form-inline .form-group {
    margin-bottom: 0;
}

/* Estilo para la tabla */
.table {
    background-color: #ffffff; /* Fondo blanco para la tabla */
    border-collapse: collapse; /* Colapsa los bordes para un aspecto uniforme */
    border-radius: 0.25rem; /* Bordes redondeados para un look moderno */
    overflow: hidden; /* Oculta cualquier contenido que se desborde */
}

.table thead th {
    background-color: #007bff; /* Azul para el encabezado */
    color: #ffffff; /* Texto blanco en el encabezado */
    padding: 10px; /* Espaciado interno */
    font-weight: bold; /* Texto en negrita */
}

.table tbody tr {
    border-bottom: 1px solid #ddd; /* Línea de separación entre filas */
}

.table tbody tr:hover {
    background-color: #f1f1f1; /* Fondo gris claro al pasar el ratón */
}

.table tbody td {
    padding: 10px; /* Espaciado interno en celdas */
}

.table a {
    color: #007bff; /* Color azul para los enlaces en la tabla */
}

.table a:hover {
    color: #0056b3; /* Azul más oscuro para los enlaces al pasar el ratón */
    text-decoration: underline; /* Subrayado al pasar el ratón */
}

/* Estilo para la tabla */
.table {
    background-color: #ffffff; /* Fondo blanco para la tabla */
    border-collapse: collapse; /* Colapsa los bordes para un aspecto uniforme */
    border-radius: 0.25rem; /* Bordes redondeados para un look moderno */
    overflow: hidden; /* Oculta cualquier contenido que se desborde */
}

.table thead th {
    background-color: steelblue; /* Azul utilizado en el hero */
    color: #ffffff; /* Texto blanco en el encabezado */
    padding: 10px; /* Espaciado interno */
    font-weight: bold; /* Texto en negrita */
}

.table tbody tr {
    border-bottom: 1px solid #ddd; /* Línea de separación entre filas */
}

.table tbody tr:hover {
    background-color: #f5f5f5; /* Fondo gris claro al pasar el ratón */
}

.table tbody td {
    padding: 10px; /* Espaciado interno en celdas */
}

.table a {
    color: steelblue; /* Color azul para los enlaces en la tabla */
}

.table a:hover {
    color: #323F5B; /* Azul más oscuro para los enlaces al pasar el ratón */
    text-decoration: underline; /* Subrayado al pasar el ratón */
}

/* Estilo para los botones de paginación */
.pagination {
    margin-top: 20px; /* Espaciado superior */
}

.pagination .page-link {
    border-radius: 0.25rem; /* Bordes redondeados para los botones de paginación */
    padding: 10px 15px; /* Espaciado interno */
    color: steelblue; /* Texto azul para los botones de paginación */
    border: 1px solid steelblue; /* Borde azul para los botones de paginación */
}

.pagination .page-link:hover {
    background-color: #f5f5f5; /* Fondo gris claro al pasar el ratón */
}

.pagination .page-item.active .page-link {
    background-color: steelblue; /* Fondo azul para el botón de paginación activo */
    border-color: steelblue; /* Borde azul para el botón de paginación activo */
    color: #ffffff; /* Texto blanco para el botón activo */
}

.pagination .page-item.disabled .page-link {
    color: #6c757d; /* Texto gris para los botones desactivados */
    pointer-events: none; /* Desactiva la interacción */
    pointer-events: none; /* Desactiva la interacción */
}

