<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{login.title}">Login</title>
    <link rel="stylesheet" href="css/login/login.css" type="text/css">
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://use.fontawesome.com/releases/v5.7.2/css/all.css' rel='stylesheet'>
</head>
<body>
<header>
    <div class="logo">
        <a href="/">
            <img src="img/logo.png" alt="Fruggy" width="200" height="200"/>
        </a>
    </div>
</header>

<div th:replace="~{layout/login :: login}"></div>

<footer>
    <p>&copy; 2024 Fruggy. All rights reserved.</p>
</footer>
</body>
</html>
