<div class="container" th:fragment="inicio">
    <!-- Catchphrase -->
    <section id="catchphrase" class="container my-5 text-center catchphrase-section">
        <h1>Explora lo Mejor en Productos y Ofertas</h1>
    </section>
    <section id="recentProducts" class="container my-5">
        <h2>Productos Más Recientes</h2>
        <div id="recentProductsCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <!-- Aquí se generarán los items del carrusel mediante Thymeleaf -->
                <div class="carousel-item active">
                    <div class="d-flex">
                        <!-- Producto 1 -->
                        <a th:href="@{/productos/detalles/{id}(id=${productosNuevos[0].id})}" class="card"
                           style="width: 18rem; text-decoration: none;">
                            <img th:src="@{'/imagenes/' + ${productosNuevos[0].imagenes[0].rutaImagen}}"
                                 class="card-img-top" alt="Imagen del Producto">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${productosNuevos[0].nombreProducto}"></h5>
                                <p class="card-text">
                                    <strong>Precio:</strong> <span
                                        th:text="${#numbers.formatDecimal(productosNuevos[0].precios[0].valor, 1, 2) + ' €'}"></span><br>
                                    <strong>Supermercado:</strong> <span
                                        th:text="${productosNuevos[0].precios[0].supermercado.nombreSuper}">Nombre del Supermercado</span>
                                </p>
                            </div>
                        </a>
                        <!-- Producto 2 -->
                        <a th:href="@{/productos/detalles/{id}(id=${productosNuevos[1].id})}" class="card"
                           style="width: 18rem; text-decoration: none;">
                            <img th:src="@{'/imagenes/' + ${productosNuevos[1].imagenes[0].rutaImagen}}"
                                 class="card-img-top" alt="Imagen del Producto">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${productosNuevos[1].nombreProducto}"></h5>
                                <p class="card-text">
                                    <strong>Precio:</strong> <span
                                        th:text="${#numbers.formatDecimal(productosNuevos[1].precios[0].valor, 1, 2) + ' €'}"></span><br>
                                    <strong>Supermercado:</strong> <span
                                        th:text="${productosNuevos[1].precios[0].supermercado.nombreSuper}">Nombre del Supermercado</span>
                                </p>
                            </div>
                        </a>
                        <!-- Producto 3 -->
                        <a th:href="@{/productos/detalles/{id}(id=${productosNuevos[2].id})}" class="card"
                           style="width: 18rem; text-decoration: none;">
                            <img th:src="@{'/imagenes/' + ${productosNuevos[2].imagenes[0].rutaImagen}}"
                                 class="card-img-top" alt="Imagen del Producto">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${productosNuevos[2].nombreProducto}"></h5>
                                <p class="card-text">
                                    <strong>Precio:</strong> <span
                                        th:text="${#numbers.formatDecimal(productosNuevos[2].precios[0].valor, 1, 2) + ' €'}"></span><br>
                                    <strong>Supermercado:</strong> <span
                                        th:text="${productosNuevos[2].precios[0].supermercado.nombreSuper}">Nombre del Supermercado</span>
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Sección de Ubicación -->
    <section id="location" class="container my-5">
        <h2>¿Dónde Estamos?</h2>
        <div class="row">
            <div class="col-md-6">
                <p>Estamos ubicados en el corazón de la ciudad. Puedes encontrarnos en:</p>
                <address>
                    <strong>Nombre de la Empresa</strong><br>
                    Calle Ejemplo, 123<br>
                    Ciudad, País<br>
                    <a href="mailto:info@empresa.com">info@empresa.com</a><br>
                    Tel: +123 456 789
                </address>
            </div>
            <div class="col-md-6">
                <div class="map-container">
                    <a href="https://www.google.es/maps/place/Av.+de+Andaluc%C3%ADa,+34,+21006+Huelva/@37.264643,-6.9393149,17.25z/data=!4m6!3m5!1s0xd11d01e1d0065df:0xd595a14b70905a40!8m2!3d37.2648733!4d-6.9378509!16s%2Fg%2F11c23p337d?hl=es&entry=ttu&g_ep=EgoyMDI0MDgyMS4wIKXMDSoASAFQAw%3D%3D"
                       target="_blank">
                        <img src="/img/mapa.png" alt="Mapa" class="img-fluid"/>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Sección de Descripción -->
    <section id="description" class="container my-5">
        <h2>Sobre Nosotros</h2>
        <p>Bienvenido a Fruggy, tu comparador de precios confiable. En Fruggy, nuestro objetivo es ayudarte a encontrar
            las mejores ofertas en productos que te interesan. Comparamos precios de diversos supermercados y tiendas
            para que puedas hacer tus compras de manera más económica y eficiente. Nuestra plataforma te permite acceder
            a información detallada sobre precios, promociones y disponibilidad de productos en tiempo real.</p>
        <p>Nos dedicamos a proporcionarte una experiencia de compra sencilla y conveniente. Con Fruggy, puedes estar
            seguro de que siempre obtendrás el mejor valor por tu dinero.</p>
    </section>
</div>
