<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{supermarket.list.header}"></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4" th:fragment="lista-supermercados">
    <h1 th:text="#{supermarket.list.header}"></h1>
    <table>
        <thead>
        <tr>
            <th th:text="#{supermarket.list.nombre}"></th>
            <th th:text="#{supermarket.list.URL}"></th>
            <th th:text="#{supermarket.list.acciones}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="supermercado : ${supermercados}">
            <td th:text="${supermercado.nombreSuper}"></td>
            <td><a th:href="${supermercado.url}" th:text="${supermercado.url}"></a></td>
            <td>
                <a th:href="@{'/supermercados/detalles/' + ${supermercado.id}}">Detalles</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>