<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{page.title}">Productos</title>
    <!-- Custom CSS -->
    <link href="/css/style.css" rel="stylesheet">
    <!-- SlickNav CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/SlickNav/1.0.0/slicknav.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/fontawesome.min.css">
</head>
<body>
<!-- Humberger Begin -->
<div class="humberger__menu__overlay" th:fragment="humbergerMenu">
    <div class="humberger__open">
        <i class="fa fa-bars"></i> <!-- Ícono del menú hamburguesa para ver si funciona asi, aunque ya hay uno en header.  -->
    </div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <!-- logo empresa-->
            <a href="#"><img src="../img/logo.png" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
            </ul>
            <div class="header__cart__price">arículo: <span>150.00€</span></div>
        </div>
        <div class="humberger__menu__widget">
            <div class="header__top__right__language">
                <img src="../img/Spanish.PNG" alt="">
                <div>Español</div>
                <span class="arrow_carrot-down"></span>
                <ul>
                    <li><a href="#">Español</a></li>
                    <li><a href="#">English</a></li>
                </ul>
            </div>
            <div class="header__top__right__auth">
                <a href="#"><i class="fa fa-user"></i> Acceso </a>
            </div>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a href="../index.html">Inicio </a></li>
                <li><a href="./shop-grid.html">Productos</a></li>
                <li><a href="#">Páginas</a>
                    <ul class="header__menu__dropdown">
                        <li><a href="../shop-details.html">Shop Details</a></li>
                        <li><a href="../shoping-cart.html">Shoping Cart</a></li>
                        <li><a href="../checkout.html">Check Out</a></li>
                        <li><a href="../blog-details.html">Blog Details</a></li>
                    </ul>
                </li>
                <li><a href="../blog.html">Blog</a></li>
                <li><a href="../contact.html">Contacto</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <!-- AÑADIR vinculo a correo*** -->
                <li><i class="fa fa-envelope"></i> mostrarproductos@mihai.com</li>
            </ul>
        </div>
    </div>
</div>
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- SlickNav JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/SlickNav/1.0.0/jquery.slicknav.min.js"></script>
<script th:src="@{/js/main.js}" type="text/javascript"></script>

<!-- Humberger End -->
</body>
</html>
