<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{header.login}">Iniciar Sesión</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>

<div class="login-container" th:fragment="login">
    <form class="login-form" action="/login" method="post">
        <div class="logo">
            <a href="/">
                <img src="/img/logo.png" alt="Fruggy" width="200" height="200"/>
            </a>
        </div>

        <h2>Iniciar sesión</h2>

        <div class="input-group">
            <label for="email">Correo electrónico:</label>
            <input type="email" id="email" name="username" required placeholder="Introduce tu correo electrónico">
        </div>

        <div class="input-group">
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required placeholder="Introduce tu contraseña">
        </div>

        <button type="submit">Iniciar sesión</button>

        <div class="links">
            <a href="/login/recuperar-contraseña">¿Olvidaste tu contraseña?</a>
            <a href="/registro">Registrarse</a>
        </div>
        <div class="language-switcher">
            <a th:href="@{${#httpServletRequest.requestURI}?lang=es}" class="language-button">Español</a>
            <a th:href="@{${#httpServletRequest.requestURI}?lang=en}" class="language-button">English</a>
        </div>
    </form>
</div>

</body>
</html>
