<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="reset-password">
<head>
    <title th:text="#{login.resetPassword}">Reestablecer contraseña</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div class="box">
    <span class="borderLine"></span>
    <form class="form" th:action="@{/login}" method="post">
        <h2 th:text="#{login.resetPassword}">Reestablecer contraseña</h2>
        <div class="inputBox">
            <input type="text" required="required">
            <span th:text="#{login.newPassword}">Nueva contraseña</span>
            <i></i>
        </div>
        <div class="inputBox">
            <input type="text" required="required">
            <span th:text="#{login.repeatNewPassword}">Repetir nueva contraseña</span>
            <i></i>
        </div>
        <input type="submit" th:value="#{login.next}">
    </form>
    <!-- Error message section -->
    <div th:if="${error}" class="alert alert-danger" th:text="#{login.error}">Usuario o contraseña incorrectos</div>
</div>
</body>
</html>